/* RESET AND BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Define html and body properties*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
/* Define map object properties*/
#mapdiv {
    position: relative;
	margin:0;
	padding:0;
    height:93vh;
    width: 100%;
    border: thin solid black;
	z-index:1;
}
/* Define header properties*/
#header {
	font-size:16px;
	font-weight: bold;
	color:#4169e1;
	display:flex;
	align-items:center;
	margin-top:5px;
	margin-right:20px;
	white-space:nowrap;
}
/* Define search container properties*/
.search-container {
	position: absolute;
	top:45px;
	right:200px;
	
	display:flex;
	align-items:center;
	gap:8px;
	
	background-color:#ffffff;
	padding:10px 12px;
	border-radius:12px;
	box-shadow:0 4px 10px rgba(0,0,0,0.25);
	
	z-index:1001;
}
@media(max-width:768px){
	#header-bar {
	flex-direction:column;
	align-items:flex-start;
	}
	#mapdiv {
	height:77vh;
	}
	.search-container{
		position:static;
		width:90%;
		left:50%;
		transform:none;
		right:auto;
		top:10px;
		border-radius:10px;
		gap:6px;
		padding:8px;
	}
	#plot-search-input {
		flex:1;
	}
}
#plot-search-input {
	font-size:16px;
	padding:8px 12px;
	border:1px solid #ccc;
	border-radius:8px;
	outline:none;
	transition:0.2s ease;
}
#plot-search-input:focus{
	border-color: #4169e1;
	box-shadow:0 0 6px rgba (30,144,255,0.5);
}
#search-button {
	background-color:#4169e1;
	color:white;
	border:none;
	padding:8px 14px;
	font-size:15px;
	border-radius:8px;
	cursor:pointer;
	transition:background 0.2s ease;
}
#search-button:hover {
	background-color:#0d6cd1;
}

#Attribution {
	text-align:left;
	font-size:0.7em;
	font-style:italic;
	color:#333;
	padding:16px 0 10px 0;
	margin:0;
}
#header-bar {
	display:flex;
	margin-bottom:2px;
	z-index:9999;
}
#full-extent-btn {
    position: absolute;
    left: 10px;
    top:20px;

    background-color: #ffffff;
    color: #333;
    border: 1px solid #ccc;
    padding: 8px 14px;
    font-size: 15px;
    cursor: pointer;

    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    transition: 0.2s ease;
    z-index: 1500;
}

#full-extent-btn:hover {
    background-color: #f1f1f1;
}
.leaflet-control-attribution {
    float: right !important;
    text-align: right !important;
	white-space: nowrap !important;
    font-size: 8px !important;
}

